/* MenuPage.css */

.menu-page {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

.menu-page h2 {
  color: #a25a5a;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.menu-selection-container {
  text-align: center;
  margin-bottom: 2rem;
}

.day-selection,
.meal-type-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.day-button,
.meal-type-button {
  background-color: #f5f5f5;
  border: 2px solid #dcdcdc;
  border-radius: 50px;
  cursor: pointer;
  margin: 0.3rem;
  padding: 0.7rem 1.5rem;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s, border-color 0.3s;
}

.day-button:hover,
.meal-type-button:hover {
  background-color: #e0e0e0;
  border-color: #b0b0b0;
}

.day-button.selected,
.meal-type-button.selected {
  background-color: #4caf50;
  color: white;
  transform: scale(1.05);
  border-color: #388e3c;
}

.recipe-select {
  width: 50%;
  padding: 0.7rem;
  border-radius: 8px;
  border: 2px solid #ddd;
  margin-top: 1rem;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.recipe-select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

.add-menu-button {
  background-color: #366536;
  color: white;
  padding: 0.8rem 1.7rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.add-menu-button:hover {
  background-color: #3f8e46;
  transform: translateY(-2px);
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

.menu-item-card {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  transition: box-shadow 0.3s;
}

.menu-item-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.menu-item-details {
  margin-bottom: 1rem;
}

.remove-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #ff6666;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.1rem;
}
